{% extends 'base.html.twig' %}

{% block title %}Edit Allemand{% endblock %}

{% block body %}
    <h1>Edit Allemand</h1>

    {{ include('allemand/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('allemand_index') }}">back to list</a>

    {{ include('allemand/_delete_form.html.twig') }}
{% endblock %}
